body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url('https://t4.ftcdn.net/jpg/08/66/22/33/360_F_866223384_Z7YTa8V3q7cun6BRilb5TVOlZZkuUTQe.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;	   
}

h1 {
    color: #ccff00;
    font-size: 40px;
}

.container {
    text-align: center;
}

select {
    margin: 1rem 0;
    padding: 0.5rem;
}
